<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div>
  <h1>Combination</h1>
  <h2>Lists:</h2>
  <ul>
    <li>Coffee</li>
    <li>Tea
      <ul>
        <li>Black tea
          <ul>
            <li>Darjeeling</li>
            <li>Assam</li>
          </ul>
        </li>
        <li>Milk</li>
        <li>
          Green tea
          <ul>
            <li>Sencha</li>
            <li>Matcha</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Water</li>
  </ul>

  <h2>Nested numbered list</h2>

  <ol>
    <li>A1 level
      <ol>
        <li>A11 level</li>
      </ol>
    </li>
    <li>
      B1 level
      <ul>
        <li>B11 level</li>
      </ul>
    </li>
  </ol>

  <h2>Table:</h2>

  <table class='confluenceTable'>
    <thead>
    <tr>
      <th class='confluenceTh'><b>heading 1</b></th>
      <th class='confluenceTh'><b>heading 2</b></th>
      <th class='confluenceTh'><b>heading 3</b></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class='confluenceTd'>col A1</td>
      <td class='confluenceTd'>col A2</td>
      <td class='confluenceTd'>col A3</td>
    </tr>
    <tr>
      <td class='confluenceTd'>col B1</td>
      <td class='confluenceTd'>col B2</td>
      <td class='confluenceTd'>col B3</td>
    </tr>
    </tbody>
  </table>

  <h2>Text brakes</h2>
  <div>
    before break<br>after break
  </div>

  <div>
    horizontal ruler
    <hr>
  </div>

  <h2>text effect</h2>
  <div>
    Makes text <b>strong</b>
  </div>

  <div>
    Makes text <i>emphasis</i>
  </div>

  <div>
    Makes text in <cite>citation</cite>
  </div>

  <div>
    Makes text as
    <del>deleted</del>
    .
  </div>

  <div>
    Makes text as <u>inserted</u>.
  </div>

  <div>
    Makes text in <sup>superscript</sup>.
  </div>

  <div>
    Makes text in <sub>subscript</sub>.
  </div>

  <div>
    Makes text as
    <pre>monospaced</pre>
    .
  </div>

  <div>
    <blockquote>Some block quoted text</blockquote>
  </div>

  <div>
    <q>
      here is quotable content to be quoted
    </q>
  </div>
</div>

</body>
</html>