<dfn>HTML</dfn> is the standard markup language for creating web pages.<br>

You <em>have</em> to hurry up!

<hr>

<font size="5"> Welcome to the mad house</font>

<hr>

<h1>This is heading 1</h1>

<h2>This is heading 2</h2>

<h3>This is heading 3</h3>

<h4>This is heading 4</h4>

<h5>This is heading 5</h5>

<h6>This is heading 6</h6>

<i>Lorem ipsum</i> is the most popular filler text in history.<br>

Press <kbd>Ctrl</kbd> + <kbd>C</kbd> to copy text (Windows).<br>

<ol>

<li>Coffee</li>

<li>Tea</li>

<li>Milk</li>

</ol><br>

<ul>

<li>Coffee</li>

<li>Tea</li>

<li>Milk</li>

</ul><br>

<p>This is some text in a paragraph.</p><br>

The area of a triangle is: 1/2 x <var>b</var> x <var>h</var>, where <var>b</var> is the base, and <var>h</var> is the vertical height.<br>