<a href="https://www.w3schools.com" target="_blank">Visit W3Schools.com!</a><br>

<abbr title="World Health Organization">WHO</abbr><br>

The <acronym title="United Nations International Children's Emergency Fund">UNICEF</acronym> was founded in 1946.<br>

<address>

Written by Jon Doe

Visit us at:<br>

Example.com<br>

Box 564, Disneyland<br>

USA

</address><br>

<b>this is bold text</b><br>

<bdo dir="rtl">This text will go right-to-left.</bdo><br>

<big>This is big Tag text</big><br>

<blockquote cite="http://www.worldwildlife.org/who/index.html">

For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.

</blockquote><br>

<caption>Monthly savings</caption><br>

<cite>The Scream</cite> by Edward Munch. Painted in 1893.<br>

The HTML <code>button</code> tag defines a clickable button.<br>

<dl>

<dt>Coffee</dt>

<dd>Black hot drink</dd>

<dt>Milk</dt>

<dd>White cold drink</dd>

</dl>