<table border="2"><colgroup><col style="background-color: red;"></col><col style="background-color: yellow;"></col></colgroup><thead><tr><th colspan="1" rowspan="1">Month</th><th colspan="1" rowspan="1">Savings</th></tr></thead><tbody><tr><td colspan="1" rowspan="1" class="xl65" width="64" height="19">January</td><td colspan="1" rowspan="1">$100</td></tr><tr><td colspan="1" rowspan="1">February</td><td colspan="1" rowspan="1">$80</td></tr></tbody><tfoot><tr><td colspan="2" rowspan="1">Sum: $180</td></tr></tfoot></table>
<tt>
This text has the tt Tag
</tt><br><strong>This text is important!</strong><br>My mother has <span style="color: blue;">blue</span> eyes.<br><small>This is some smaller text.</small><br><samp>File not found.<br>Press F1 to continue</samp><br>This text contains <sub>subscript</sub> text and <sup>superscript</sup> text.<br><strike> Striked content </strike><br>Like Einstein said <q>If you can&#39;t explain it to a six year old, you don&#39;t understand it yourself.</q>
<pre>
Text in a pre element
is displayed in a fixed-width
font, and it preserves
both      spaces and
line breaks
</pre>
This is some <u>mispeled</u> text.
<div style="text-align: center;">Center aligned text</div>
<font face="Trickster">Face value test</font><br><img alt="Squirrel" src="https://app-platform-6937--agileacc.sandbox.file.force.com/servlet/rtaImage?eid=500KK000001A097&amp;feoid=00NKK000001QPDT&amp;refid=0EMKK000000HqvX"></img>