<h1>Header</h1>

<ul>
  <li>Coffee</li>
  <li>Tea
    <ul>
      <li>Black tea
        <ul>
          <li>Darjeeling</li>
          <li>Assam</li>
        </ul>
      </li>
      <li>Milk</li>
      <li>
        Green tea
        <ul>
          <li>Sencha</li>
          <li>Matcha</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Water</li>
</ul>

<h2>Nested numbered list</h2>

<ol>
  <li>A1 level
    <ol>
      <li>A11 level</li>
    </ol>
  </li>
  <li>
    B1 level
    <ul>
      <li>B11 level</li>
    </ul>
  </li>
</ol>

<img src="http://localhost:5001/src/img.png"/>
