<div>
  Makes text <b>strong</b>
</div>

<div>
  Makes text <i>emphasis</i>
</div>

<div>
  Makes text in <cite>citation</cite>
</div>

<div>
  Makes text as <del>deleted</del>.
</div>

<div>
  Makes text as <u>inserted</u>.
</div>

<div>
  Makes text in <sup>superscript</sup>.
</div>

<div>
  Makes text in <sub>subscript</sub>.
</div>

<div>
  Makes text as <pre>monospaced</pre>.
</div>

<div>
  <blockquote>Some block quoted text</blockquote>
</div>

<div>
  <q>
    here is quotable content to be quoted
  </q>
</div>
